.userMenu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.userText {
  margin-top: 0;
  margin-bottom: 0;
}

.userBtn {
  background-color: #888888a5;
  border-radius: 6px;
  border: 1px solid #000000;
  padding: 8px;
  max-width: 120px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.userBtn:hover {
  background-color: #285296;
  transform: scale(1.1);
}